*{
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(100, 50, 100);
}

.tipo{
    color: rgb(100, 50, 200);
    text-align: center;
    color: seashell;
}

#titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: rgb(0, 34, 40);
    text-align: center;
    color: skyblue;
}

.tipe{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1rem;
}

p{
    color: slateblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1rem;
}

h2{
    text-align: center;
    color: seashell;
}

img{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}
