*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(71, 128, 163);
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #19494f;
    margin: 0;
}

header{
    text-align: center;
    padding: 100px;
    color: rgb(101, 154, 208);
}

/* form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    border-radius: 4px;
    padding: 20px;
} */

.form-group {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group input {
    width: 200%;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: 1px solid #f1e8e8;
    background-color: azure;
}

.form-group label {
    margin-bottom: 8px;
    display: block;
}

.form-group button {
    width: 200%;
    padding: 12px;
    background-color: #4b89cb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}

p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgb(90, 130, 248);
}
 