*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding: 5rem;
    text-align: center;
    border : solid 2px black;
    margin-bottom: 16px;
    width: 40%;
    margin: 0 auto;
}
.header h1{
    font-size: 3rem;
}
.header p{
    color: rgb(172, 172, 157);
}
.main{
    display: flex;
    text-align: center;
    justify-content: center;
    border: solid 2px black;
    width: 40%;
    margin: 0 auto;
}
.main h6{
    color:rgb(76, 153, 247)
}
.footer{
    display: flex;
    border: solid 2px black;
    padding: 3rem;
    width: 40%;
    margin: 0 auto;
}

.h1{
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 10px;
    /* position: absolute ;
    top: 2; /* Posiciona el título en la parte superior del contenedor */
    /* left: 11; Alinea el título a la izquierda */
    /* order: 1;
    text-align: left;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-top: 2em */ 
}
.div p{
    order: 2;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    border-radius: 10px;
    border: solid 2px black;
    padding: 20px;
    margin-right: 10px;
    text-align: left;
    margin: 30px;
    width: 90%;
}
.parrafos{
    font-family: sans-serif;
    font-size: 16px;
    border: solid 2px black;
    justify-content: space-between;
}
.parrafos p{
    border: solid 2px black;
    padding: 1rem;
    text-align: left;
    height: 50px;
}

main{
    text-align: center;
    margin: 0;
    /* border: solid 2px black; */
}
main div{
    border: solid 2px black;
    padding: 2.56rem;
    font-size: 1rem;
    text-align: left;
}
.trabajo{
    border: solid 2px black;
}
.trabajo ul{
    flex: 1; /*investigar esto */
    justify-content: space-between;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px; 
}
.trabajo p{
    padding: 1rem;
    display: inline-block; /*investigar esto*/ 
}

#p{
    display: flex;
    text-align: right;
    padding: 5px;
}
ul{
    text-align: left;
}
#p2{
    text-align: left;
}

span{
    color: rgb(175, 168, 164);
}